@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.noClick {
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #333;
}

nav {
    background-color: white;
    padding: 12px;
    transition: ease-in 400ms;
}

nav h1 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    transition: 700ms;
    color: #333;
}

nav h1:hover {
    transition: 300ms;
    letter-spacing: 6px;
    color: indigo;
}

header {
    display: block;
    background-color: #333;
}

.reason {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    opacity: 0;
    animation-delay: 1s;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 20% 80%;
    margin-top: 24px;
    min-width: 40%;
    border-radius: 20px;
    padding: 20px 40px 20px 20px;
    height: 50px;
    max-width: 60%;
    text-align: left;
    border: solid rgba(24, 24, 24, 0.1);
}

@keyframes reasonLeft{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-left: 18px;
    }
}
@keyframes reasonRight{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        margin-right: 18px;
    }
}

header div p {
    margin: auto;
}

.reasonLeft {
    animation-name: reasonLeft;
}
.reasonRight {
    float: right;
    animation-name: reasonRight;
}

.r2 {
    animation-delay: 1700ms;
}
.r3 {
    animation-delay: 2700ms;
    margin-top: 140px;
}
.r4 {
    animation-delay: 3700ms;
}

header div img {
    width: 50px;
    height: 50px;
}

#buttons {
    margin-left: 18px;
    margin-right: 18px;
    margin-top: 120px;
}

#start {
    padding: 8px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    opacity: 0;
    animation-name: bottom;
    animation-delay: 4700ms;
    animation-fill-mode: forwards;
    animation-duration: 800ms;
}

#start:hover {
    transition: 200ms;
    background-color: indianred;
    color: white;
}

@keyframes bottom {
    from {
        opacity: 0;
        margin-top: 80px;
    }
    to {
        margin-top: 20px;
        opacity: 1;
        transition: 300ms;
    }
}